{block content}
<p>WHY IS FOLLOWING LINK <b>/account.home/</b> instead <b>/account/home/</b> ? <a href="{plink :Account:Home:}">GO TO ACCOUNT MODULE</a></p>

<p>CAN I ADD CONTROLL "TopBar" FROM MODULE "Account" HERE?</p>
{/block}